.hidden{
  display: none;
}
.results{
  width: 100%;
  margin-top: 20px;
  & .results-block {
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(26,26,67,.05), 0 20px 125px -25px rgba(50,50,93,.5), -18px 20px 75px -37.5px rgba(0,0,0,.6);
    box-shadow: 0 0 5px 0 rgba(26,26,67,.05), 0 20px 125px -25px rgba(50,50,93,.5), -18px 20px 75px -37.5px rgba(0,0,0,.6);
   & #code-result{
      display: inline-block;
     font-size: 1.8em;
     color: $text-color;
    }
  }
}
.heading{
  line-height: 1.48em;
  font-weight: 500;
  color: $heading-color;
  margin-bottom: 15px;
  width: 100%;
}
.app{
  &-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-label{
    line-height: 1.48em;
    font-weight: 500;
    color: $heading-color;
    display: block;
    text-align: left;
  }
}
.btn{
  color: #fff;
  background:$green;
  text-shadow: 0 1px 3px rgba(36,180,126,.4);
  white-space: nowrap;
  display: inline-block;
  line-height: 1.48em;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  text-decoration: none;
  outline: none;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
  &:hover{
    transform: translateY(-5px);
  }
}


.btn-clip{
  background: #fff;
  border: none;
  border-radius:50%;
  -webkit-box-shadow: 0 0 5px 0 rgba(26,26,67,.05), 0 20px 125px -25px rgba(50,50,93,.5), -18px 20px 75px -37.5px rgba(0,0,0,.6);
  box-shadow: 0 0 5px 0 rgba(26,26,67,.05), 0 20px 125px -25px rgba(50,50,93,.5), -18px 20px 75px -37.5px rgba(0,0,0,.6);
  & svg{
    .st1 {
      fill: #fff;
    }
  }
}

.btn-circle{
  border-radius: 50%;
  padding:0;
  width: 2em;
  height: 2em;
}
.ml{
  margin-left: 10px;
}

.btn-rounded {
  border-radius: 60px;
  -webkit-border-radius: 60px;
}
.btn-success-gradient {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  border: 0px; }
.btn-success-gradient:hover {
  background: #1dc8cc;
  background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
  background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%); }
.btn-success-gradient.active, .btn-success-gradient:active, .btn-success-gradient:focus {
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  opacity: 1; }

.btn-danger-gradient {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  border: 0px; }
.btn-danger-gradient:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%); }
.btn-danger-gradient.active, .btn-danger-gradient:active, .btn-danger-gradient:focus {
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  opacity: 1; }

.btn-info-gradient {
  background: #188ef4;
  background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
  background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
  background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
  border: 0px;
  color: #ffffff; }
.btn-info-gradient:hover {
  background: #316ce8;
  background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
  background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
  background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
  background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
  background: linear-gradient(to right, #316ce8 0%, #188ef4 100%); }
.btn-info-gradient.active, .btn-info-gradient:active, .btn-info-gradient:focus {
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  opacity: 1; }