body{
  margin: 0;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $blue, $indigo);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $blue, $indigo); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  font-family: Arial,sans-serif;
}
.bar-form{
  margin-top: 100px;
  display: inline-block;
  background-color: #f6f9fc;
  outline: none;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(26,26,67,.05), 0 20px 125px -25px rgba(50,50,93,.5), -18px 20px 75px -37.5px rgba(0,0,0,.6);
  box-shadow: 0 0 5px 0 rgba(26,26,67,.05), 0 20px 125px -25px rgba(50,50,93,.5), -18px 20px 75px -37.5px rgba(0,0,0,.6);
  & .code-input{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    font-size: 2em;
    padding: 5px 10px;
    color:#324A5E;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 4px 6px rgba(112,157,199,.15);
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 4px 6px rgba(112,157,199,.15);
    &:focus{
      outline: none;
    }
  }
}

